APP_NAME="NovaMarket"
APP_TIMEZONE="Asia/Singapore"
FREE_SHIPPING_THRESHOLD="120"
FLAT_SHIPPING_RATE="8.90"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="inf1005_storefront"
DB_USERNAME="root"
DB_PASSWORD=""
